*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Ubisoft';
  src: url('../fonts/ubisoftsans-regular.woff') format('woff');
}

@font-face {
  font-family: 'Ubisoft-bold';
  src: url('../fonts/ubisoftsans-bold.woff') format('woff');
}

:root {
  --loader: 1;
  --display: block;
  --height_open: 0;
  --background: #fff;
  --hamburger: #008aa4;
}

body {
  font-family: "Ubisoft";
  background: #e5e8f0;
  padding: 0px;
  margin: 0px;
  color: #0a0a0a;
  font: 1.5em;
}

#loader {
  background: url(../img/loading-state.gif) no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
  background-color: #fff;
  overflow: none;
  opacity: var(--loader);
  display: var(--display);
  transition: 1s;
}

button {
  cursor: pointer;
}

section:not(:first-of-type) {
  margin-top: 40px;
}

.hide {
  display: none;
}

button#scrollToTop {
  display: none;
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* start header css */
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99999;
}

header nav.main-nav {
  background: #fff;
  display: grid;
  grid-template-areas:
    'hamburger logo logo logo acount-menu acount-menu'
    'form form form form form form';
  grid-gap: 10px;
  padding: 7.5px 7.5px 0px;
  width: 100%;
}

header nav.main-nav button {
  grid-area: hamburger;
  border: none;
  background: #fff;
  display: block;
}

header nav.main-nav a {
  grid-area: logo;
  width: 100px;
  height: auto;
}

header nav.main-nav ul.account-menu {
  grid-area: acount-menu;
  margin: 0;
}

header nav.main-nav ul.account-menu li {
  display: block;
  float: right;
  padding: 20px 0;
}

header nav.main-nav ul.desktop-nav {
  display: none;
  grid-area: desktop-nav;
}

header nav.main-nav form {
  grid-area: form;
  height: 40px;
  border-top: 1px solid #dbdde4;
  padding: 5px;
  width: 100%;
}

header nav.main-nav form button {
  float: left;
  width: 15%
}

header nav.main-nav form input[type="text"] {
  height: 100%;
  float: left;
  width: 75%;
  margin-left: 22px;
  color: #9ea9bd;
  border: none;
  font-size: 12px;
  font-family: 'Ubisoft';
  border-left: 3px solid #0089a3;
  padding-left: 22px;
}

header nav.main-nav form button[type="submit"] {
  height: 100%;
  float: right;
  width: 15%;
}

/* sidebar css */
header nav.sidebar {
  height: var(--height_open);
  width: 100%;
  position: fixed;
  z-index: 1002;
  top: 60px;
  left: 0;
  background: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}

header nav.sidebar button {
  width: 100%;
  height: 30px;
  background-color: #008aa4;
  color: #fff;
  text-align: right;
  border: none;
}

header nav button svg path {
  fill: var(--hamburger);
}

header button#open-sidebar {
  background-color: var(--background);
}

header nav.sidebar ul {
  position: absolute;
  width: 100%;
  margin-top: 30px;
  z-index: 1001;
  list-style-type: none;
  padding-inline-start: 0px;
}

header nav.sidebar ul li {
  position: relative;
  padding: 10px;
  border-bottom: #008aa4 solid 1px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

header nav.sidebar ul li span {
  float: right;
}

header nav.sidebar ul li a {
  text-decoration: none;
  color: #000;
}

header nav.sidebar ul li:nth-child(4) a {
  color: #edb800;
}

/* einde sidebar css */
/* einde header css */

section.carousel-container article {
  position: relative;
  text-transform: uppercase;
}

section.carousel-container article picture img {
  display: block;
  width: 100%;
}

section.carousel-container article div {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

section.carousel-container article div span {
  display: none;
}

section.carousel-container article span {
  position: absolute;
  background-color: #edb800;
  top: 20px;
  left: 0;
  color: #fff;
  padding: 5px 15px 5px 10px;
  font-weight: 900;
  border-radius: 0 26px 26px 0;
}

section.carousel-container article div h2 {
  color: #fff;
  margin: 10px;
  font-size: 20px;
}

section.carousel-container article div button {
  background-color: #7469ff;
  border: none;
  color: #fff;
  padding: 1em 4em;
  border-radius: 2em;
  font-weight: 800;
  font-size: 10px;
  margin: 10px 0px 15px 0px;
  text-transform: uppercase;
  transition: 0.3s;
}

section.carousel-container article div button:hover {
  background-color: #8b82ff;
}

/*  */

.scrollmenu ul {
  overflow: auto;
  white-space: nowrap;
  margin: 0px 0px 0px -20px;
}

.scrollmenu h2 {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
  padding: 0 0 0 20px;
}

.scrollmenu h2:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 20px;
  height: 0;
  width: 10%;
  border-bottom: 3px solid #000;
}

.scrollmenu ul li {
  display: inline-block;
  padding: 2px;
  text-decoration: none;
  max-width: 45%;
  margin-top: 20px;
}

.scrollmenu ul li a:hover {
  top: -10px;
  outline: #ff8300 5px solid;
}

.scrollmenu div {
  position: relative;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.scrollmenu ul li a div img:nth-child(odd) {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
}

.scrollmenu ul li a div img:nth-child(even) {
  max-width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.soon-display>h2 {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
  padding: 0 0 0 20px;
}

.soon-display>h2:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 20px;
  height: 0;
  width: 10%;
  border-bottom: 3px solid #000;
}

section.soon-display article {
  margin: 40px 20px 20px 20px;
  position: relative;
  transition: 0.3s;
  top: 0;
  background-color: rgba(255, 0, 0, 0.5);
}

.soon-display article img {
  max-width: 100%;
  height: auto;
}

section.soon-display div.slider article span.ribbon {
  position: absolute;
  background-color: #ff8300;
  color: #fff;
  top: -10px;
  left: 10px;
  padding: 3px 20px;
  border-radius: 26px;
  font-weight: 900;
  z-index: 1001;
}

section.soon-display div.slider {
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  min-width: 85vw;
  margin-left: 20px;
}

section.soon-display div.slider article {
  min-width: 85vw;
  height: auto;
  scroll-snap-align: start;
  position: relative;
  background-color: #fff;
}

section.soon-display div.slider article:not(:first-of-type) {
  margin-left: 0px;
}

section.soon-display div.slider article div.card-details {
  padding: 20px 20px 40px 20px;
  font-weight: 100;
}

section.soon-display div.slider article div.card-details h2 {
  font-size: .1.125rem;
  font-weight: 100;
}

section.soon-display div.slider article div.card-details h3 {
  color: #929db6;
  font-size: .9375rem;
  font-weight: 100;
}

section.soon-display div.slider article div.card-details div {
  position: absolute;
  right: 5%;
}

section.soon-display div.slider article div.card-details span {
  font-size: 1.5rem;
}

section.soon-display div.slider article div.card-details span:nth-child(odd) {
  font-weight: 100;
  color: #ff8300;
}

section.soon-display div.slider article div.card-details span:nth-child(even) {
  font-weight: 100;
  text-decoration: line-through;
  color: #929db6;
  font-size: .9375rem;
}

section.soon-display article:hover {
  top: -15px;
  box-shadow: 0px 10px 31px -17px rgba(0, 0, 0, 0.75);
}


section.soon-display div.slider article:focus {
  top: -15px;
  box-shadow: 0px 10px 31px -17px rgba(0, 0, 0, 0.75);
  outline: #ff8300 5px solid;
}

section.product-gallery {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

section.product-gallery>h2,
section.product-gallery>p {
  margin: 10px 0px;
}

p.breadcrumb {
  background-color: #fff;
  width: 100%;
  font-size: 0.8rem;
  padding: 5px;
  color: #929db6;
  border-top: 1px solid #929db6;
}

p.breadcrumb a {
  text-decoration: none;
  color: #929db6;
}

section div.grid-container {
  display: grid;
  grid-gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

section.product-gallery button {
  width: 100%;
  margin: 10px 0px 20px 0px;
  padding: 10px 15px;
  text-align: center;
  background-color: #008aa4;
  border: none;
  color: #fff;
  font-family: 'Ubisoft';
  font-size: .9375rem;
  display: block;
}

section div.grid-container aside {
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #fff;
  padding: 20px;
  display: block;
}

section div.grid-container aside div:first-of-type form {
  width: 100%;
}

section div.grid-container aside div:first-of-type form p:first-of-type {
  float: left;
}

section div.grid-container aside div:first-of-type form p:last-of-type {
  float: right;
}

section div.grid-container aside div:not(:first-of-type) p {
  width: 100%;
  float: left;
  margin: 20px 0px;
}

section div.grid-container aside div:first-of-type form input[type='range'] {
  width: 100%;
  -webkit-appearance: none;
  width: 100%;
  background: #008aa4;
  height: 5px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

section div.grid-container aside div:first-of-type form input[type='range']:hover {
  opacity: 1;
}

section div.grid-container article {
  background-color: #fff;
  height: auto;
  position: relative;
  transition: 0.3s;
  top: 0;
}

section div.grid-container article img {
  width: 100%;
}

section div.grid-container article div.card-details {
  padding: 20px 20px 40px 20px;
  font-weight: 100;
}

section div.grid-container article div.card-details h2 {
  font-size: 0.9rem;
  font-weight: 900;
}

section div.grid-container article div.card-details h3 {
  color: #929db6;
  font-size: .8rem;
  font-weight: 100;
}

section div.grid-container article div.card-details div {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

section div.grid-container article div.card-details span {
  font-size: 1.5rem;
}

section div.grid-container article div.card-details span:nth-child(odd) {
  font-weight: 100;
  color: #ff8300;
}

section div.grid-container article div.card-details span:nth-child(even) {
  font-weight: 100;
  text-decoration: line-through;
  color: #929db6;
  font-size: .9375rem;
}

section div.grid-container article span.ribbon {
  position: absolute;
  background-color: #ff8300;
  color: #fff;
  top: -10px;
  left: 10px;
  padding: 3px 20px;
  border-radius: 26px;
  font-weight: 900;
  z-index: 1001;
}

section div.grid-container article:hover {
  top: -15px;
  box-shadow: 0px 10px 31px -17px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

section.product-gallery div form label {
  display: block;
  width: 100%;
  margin: 10px 0px;
  color: #008aa4;
}

/*  */

section.footer-seo-text {
  padding: 20px;
  color: #929db6;
  font-size: 12px;
}

section.footer-seo-text span {
  color: #35c1cf;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
}

/*  */

footer {
  background-color: #fff;
}

footer section div.footer-container ul:before {
  content: attr(data-header);
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer section ul li {
  list-style-type: none;
}

footer section ul.marketing-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px;
  border-bottom: 1px solid #dbdde4;
}

footer section ul.marketing-footer li.iconHide {
  display: block;
}

footer section ul.marketing-footer li {
  font-size: 0.8em;
  width: 15%;
  text-align: center;
  text-transform: uppercase;
}

footer section ul.marketing-footer li img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

footer section ul.marketing-footer li:nth-child(3) img.ubiCoin {
  padding: 0;
  margin: 0;
  display: inline;
  height: 10px;
  width: auto;
}

footer section div.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.8em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

footer section div.footer-container ul li {
  padding: 10px 0px;
  color: #008aa4;
}

footer section div.footer-container ul li a {
  text-decoration: none;
  color: #008aa4;
}

footer section div.footer-container ul.socials li button {
  background-color: #fff;
  border: 1px solid #35c1cf;
  color: #008aa4;
  padding: 1em 3em;
  border-radius: 2em;
  font-size: 10px;
  margin: 10px 0px 15px 0px;
  text-transform: uppercase;
  transition: 0.3s;
}

footer section div.footer-container ul.socials li button:hover {
  background-color: #35c1cf;
  color: #fff;
}

footer section div.footer-container ul.socials li:nth-child(2),
ul.socials li:nth-child(3),
ul.socials li:nth-child(4),
ul.socials li:nth-child(5),
ul.socials li:nth-child(6) {
  float: left;
  padding: 10px;
}

footer section>p {
  font-size: .6875rem;
  padding: 20px;
  width: 100%;
  text-align: center;
  line-height: 1.125rem;
}

/*  */

@media screen and (max-width: 768px) {

  button#scrollToTop {
    z-index: 0;
  }

  body {
    font-size: 12px;
  }

  footer section div.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.8em;
    width: 100%;
  }

  footer section ul.marketing-footer li {
    width: 33%;
  }

  footer section ul.marketing-footer li.iconHide {
    display: none;
  }

  section div.grid-container article div.card-details span {
    font-size: 1rem;
  }

  section div.grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  section div.grid-container aside {
    display: none;
  }

  section.product-gallery button {
    display: block;
  }
}

/*  */

@media screen and (min-width: 768px) {

  body {
    overflow-x: hidden !important;
  }

  .scrollmenu ul li {
    max-width: 30%;
  }

  section.soon-display div.slider {
    scroll-snap-type: none;
    display: grid;
    -webkit-overflow-scrolling: none;
    overflow-x: none;
    max-width: 100vw;
    margin-left: 0px;
    grid-template-columns: auto auto auto;
    overflow: hidden;
  }

  section.soon-display div.slider article {
    min-width: 30%;
    height: auto;
    scroll-snap-align: none;
    position: relative;
    background-color: #fff;
  }

  section div.grid-container article div.card-details span {
    font-size: 1rem;
  }

  section.soon-display div.slider article img {
    width: 100%;
  }

  section div.grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  section div.grid-container aside {
    display: none;
  }

  section.product-gallery button {
    display: block;
  }
}

/*  */

@media screen and (min-width: 1220px) {

  button#scrollToTop {
    display: block;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9999999;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #008aa4;
    color: #008aa4;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
  }

  button#scrollToTop:hover {
    background-color: #008aa4;
    color: #fff;
  }

  header nav.main-nav button#open-sidebar {
    display: none;
  }

  .main-nav a.logo {
    display: none;
  }

  header nav.main-nav ul.desktop-nav {
    display: table;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 15px;
  }

  header nav.main-nav ul.desktop-nav li a svg {
    width: 150px;
    height: auto;
    float: left;
  }

  header nav.main-nav ul.desktop-nav li {
    display: table-cell;
    padding: 15px 5px;
    vertical-align: middle;
    border-bottom: 4px solid #fff;
    transition: 0.3s;
    text-align: center;
  }

  header nav.main-nav ul.desktop-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    color: #008aa4;
  }

  header nav.main-nav ul.desktop-nav li:nth-child(5) a {
    color: #FF8300;
  }

  header nav.main-nav ul.desktop-nav li:hover:not(:first-of-type) {
    border-bottom: 4px solid #008aa4;
  }

  header nav.main-nav ul.desktop-nav li:nth-child(5):hover {
    border-bottom: 4px solid #FF8300;
  }

  header nav.main-nav {
    grid-template-areas:
      'desktop-nav desktop-nav desktop-nav acount-menu acount-menu acount-menu'
      'form form form form form form';
    grid-gap: 0px;
  }

  header nav.main-nav ul.account-menu {
    display: table;
    margin: 0;
  }

  header nav.main-nav ul.account-menu li {
    display: table-cell;
    vertical-align: middle;
  }

  section.carousel-container article div {
    position: absolute;
    right: 0;
    z-index: 1;
    transform: translateY(+50%);
    bottom: 50%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 33%;
  }

  section.carousel-container article div h2 {
    margin: 20px 0;
  }

  section.carousel-container article span {
    display: none;
  }

  section.carousel-container article div span {
    display: block;
    position: relative;
    background-color: #edb800;
    top: 0px;
    color: #fff;
    padding: 5px 15px 5px 10px;
    font-weight: 900;
    border-radius: 0 26px 26px 0;
  }

  section div.grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  section div.grid-container aside {
    display: block;
  }

  section.product-gallery button {
    display: none;
  }

  section div.grid-container article div.card-details span {
    font-size: 1.5rem;
  }
}